/* Slaider.module.css */

.swiperContainer {
  width: calc(
    100% - 500px
  ); /* Учитываем отступы по 250 пикселей с каждой стороны */
  margin: 0 auto; /* Центрируем карусель */
  height: 400px; /* Установите нужную высоту для карусели */
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Центрируем содержимое внутри слайда */
  text-align: center; /* Центрируем текст */
}

.carouselImage {
  max-height: 300px; /* Установите максимальную высоту для изображений */
  width: 100%; /* Ширина изображения 100% */
  height: auto; /* Высота автоматически для сохранения пропорций */
  object-fit: cover; /* Чтобы изображения не искажались */
  border-radius: 10px; /* Добавим скругление углов для более стильного вида */
}

h5 {
  margin-top: 10px; /* Отступ сверху для заголовка */
  font-size: 1.5rem; /* Размер шрифта для заголовка */
}

p {
  font-size: 1rem; /* Размер шрифта для текста */
  color: #555; /* Цвет текста */
}

/* Адаптивные стили */
@media (max-width: 1440px) {
  .swiperContainer {
    width: calc(100% - 100px); /* Уменьшение отступов */
  }
}

@media (max-width: 1024px) {
  .swiperContainer {
    width: calc(100% - 40px); /* Уменьшаем отступы на устройствах */
  }

  .carouselImage {
    max-height: 250px; /* Уменьшаем максимальную высоту для 1024px */
  }

  h5 {
    font-size: 1.3rem; /* Уменьшаем размер шрифта для заголовка */
  }

  p {
    font-size: 0.95rem; /* Уменьшаем размер шрифта для текста */
  }
}

@media (max-width: 880px) {
  .carouselImage {
    max-height: 220px; /* Уменьшаем максимальную высоту для 880px */
  }

  h5 {
    font-size: 1.2rem; /* Уменьшаем размер шрифта для заголовка */
  }

  p {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для текста */
  }
}

@media (max-width: 425px) {
  .swiper-slide {
    margin: 0; /* Убираем отступы между слайдами */
    padding: 0; /* Убираем внутренние отступы, если есть */
  }

  .Slaider_carouselItem__w2zl- {
    margin: 0; /* Убираем отступы для элемента слайда */
    padding: 0; /* Убираем внутренние отступы, если есть */
    text-align: center; /* Центрируем текст, если это необходимо */
  }

  .carouselImage {
    max-height: 180px; /* Уменьшаем высоту изображения */
    margin-bottom: 2px; /* Меньший отступ снизу */
  }

  h5 {
    margin-top: 2px; /* Меньший отступ сверху */
    font-size: 1.1rem; /* Размер шрифта для заголовка */
  }

  p {
    margin-top: 0; /* Убираем отступ сверху */
    font-size: 0.85rem; /* Размер шрифта для текста */
  }
}

@media (max-width: 375px) {
  .carouselImage {
    max-height: 180px; /* Уменьшаем максимальную высоту для 375px */
  }

  h5 {
    font-size: 1rem; /* Уменьшаем размер шрифта для заголовка */
  }

  p {
    font-size: 0.8rem; /* Уменьшаем размер шрифта для текста */
  }
}

@media (max-width: 320px) {
  .carouselImage {
    max-height: 160px; /* Уменьшаем максимальную высоту для 320px */
  }

  h5 {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для заголовка */
  }

  p {
    font-size: 0.75rem; /* Уменьшаем размер шрифта для текста */
  }
}
